# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
.vscode
.DS_Store
.venv
/example/.project
/example/.pydevproject

# kbc datafolder
/data/*
/components/_common/data/
/components/_common/tests/data*
